body{
	font-family: helvetica;
	font-size: 20px;
	color: white;
	width: 100%;
	margin: 0;
	padding: 0;
	background: url(nubes.jpg) no-repeat center center fixed;
	background-size: cover;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  animation: fadein 5s;
  padding: 5px 0;
}

li::before {
  content: "• ";
  color: black;
}

.texto{
	float: left;
	margin-top: 3%;
}

#total{	
	margin-top: 10%;
	margin-left: 20%;
}

#juego{
	margin-left: 40%;
}

p{	
	color: black;
	font-size: 30px;
}

h2{
	color: black;
}